{% load staticfiles %}

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>sign in/register</title>
	<meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- CSS
  ================================================== -->

    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" type="text/css" href="{% static 'account_login_registration/reg_log-in_page.css' %}"/>
	<script src="{% static 'account_login_registration/jquery-1.12.3.js' %}"></script>
	<script src="{% static 'account_login_registration/reg_log-in_page.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="flat-form">
            <ul class="tabs">
                <li>
                    <a href="#login" class="active" id="tab_one">log in</a>
                </li>
                <li>
                    <a href="#register" id="tab_two">new account</a>
                </li>
                <li>
                    <a href="#reset" id="tab_three">Forgot password?</a>
                </li>
            </ul>
            <div id="login" class="form-action show">
                <h1>Sign in</h1>
                <form>
                    <ul>
                        <li>
                            <input type="text" placeholder="Username" />
                        </li>
                        <li>
                            <input type="password" placeholder="Password" />
                        </li>
                        <li>
                            <input type="submit" value="Login" class="button" />
                        </li>
                    </ul>
                </form>
            </div>
            <!--/#login.form-action-->
            <div id="register" class="form-action hide">
                <h1>Register account</h1>
                <form>
                    <ul>
						<li>
                            <input type="text" placeholder="Email" />
                        </li>
                        <li>
                            <input type="text" placeholder="Username" />
                        </li>
						<li>
                            <input type="text" placeholder="Birthday" />
                        </li>
                        <li>
                            <input type="password" placeholder="Password" />
                        </li>
						<li>
                            <input type="text" placeholder="repeat Password" />
                        </li>
                        <li>
                            <input type="submit" value="Register" class="button" />
                        </li>
                    </ul>
                </form>
            </div>
            <!--/#register.form-action-->
            <div id="reset" class="form-action hide">
                <h1>Password reset</h1>
                <form>
                    <ul>
                        <li>
                            <input type="text" placeholder="Email" />
                        </li>
                        <li>
                            <input type="text" placeholder="Birthday" />
                        </li>
                        <li>
                            <input type="submit" value="Send" class="button" />
                        </li>
                    </ul>
                </form>
            </div>
            <!--/#register.form-action-->
        </div>
    </div>
</body>
</html>