{% extends 'post/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block body %}
<head xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
        <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment_box.css' %}">

    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<div class="container">
    <div post_main>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default" id="panel">
                    <div class="panel-body">
                        <h4>{{ post.post_text }}
                            <a href="{% url 'next_post' post_id=post.id%}">
                            <button type="button" class="btn btn-default" style="float:right">Next Post
                            <span class="glyphicon glyphicon-menu-right"></span>
                                </a>
                        </button>
                             <a href="{% url 'prev_post' post_id=post.id%}">
                            <button type="button" class="btn btn-default" style="float:right">  Prev
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </button>
                                 </a>
                        </h4>
                        <p>Posted by <a href="#"><span id="username">{{ post.post_user }}</span> </a><h6 class="text-muted time" style="white-space:nowrap;">{{ post.post_posted | timesince }} ago</h6></p>
                        <img src="{{ post.post_image }}" class="img-thumbnail" id="post_image"/>
                        <div class="panel-footer">
                            <div style="float:right; font-size: 12px;">
                                <div>
                                     {{ post.post_views | intcomma}} Views
                                </div>
                                <div>
                                    {{ post.post_points |intcomma}} Points
                                    </div>
                                </br>

                                </div>


                           <span id="FeelsGoodMan">
                              <a href="{% url 'like_post' post_id=post.id %}">  <img src="http://chan.catiewayne.com/nc/src/132264456389.png" style="width: 40px; height; 40px;"> </a>
                            </span>


                          <span id="FeelsBadMan">
                               <a href="{% url 'dislike_post' post_id=post.id%}"> <img src="http://vignette3.wikia.nocookie.net/cookietest/images/e/e2/FeelsBadMan.png/revision/latest?cb=20150708084237" style="margin-left: 10px; width: 35px; height: 30px;">  </a>
                            </span>

                            <span id="Favorite">
                                   <a href="{% url 'favorite_post' post_id=post.id %}">  <img src="http://pngimg.com/upload/heart_PNG706.png" style="margin-left: 10px; width: 35px; height: 30px;"> </a>{{ post.post_favorited }}
                               </span>


                            </div>
                            <p style="padding-top:5px">{{ post.post_tags }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</br>



 <!-- for comment in list !-->
{% for x in comment %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="{{ x.comment_user.user_data.user_image }}" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ x.comment_user}}</b></a>
                            made a comment.

                        </div>

                        <h6 class="text-muted time">{{ x.comment_posted | timesince }} ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p> {{ x.comment_text }}</p>
                    <div class="stats">
                          <a href="{% url 'like_comment' post_id=post.id comment_id=x.id%}">
                         <span id="FeelsGoodMan_comment">
                                <img src="http://chan.catiewayne.com/nc/src/132264456389.png" style="width: 40px; height; 40px;">
                            </span>
                              </a>
                         <a href="{% url 'dislike_comment' post_id=post.id comment_id=x.id%}">
                            <span id="FeelsBadMan_comment">
                                <img src="http://vignette3.wikia.nocookie.net/cookietest/images/e/e2/FeelsBadMan.png/revision/latest?cb=20150708084237" style="margin-left: 10px; width: 35px; height: 30px;"> <span style="float:right; font-size: 12px;">{{x.comment_points | intcomma }} Points</span>
                            </span>
                             </a>

                          <span>
                                   <a href="{% url 'favorite_comment' post_id=post.id comment_id=x.id %}">  <img src="http://pngimg.com/upload/heart_PNG706.png" style="margin-left: 10px; width: 35px; height: 30px;"> </a>{{ x.comment_favorited }}
                               </span>
                    </div>
                </div>
                </div>
            </div>
{% endfor %}

        {% if user.is_authenticated %}
<!-- if logged on !-->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="panel panel-white post panel-shadow">
                <div id="comment_box" class="input-field">
								<div class="status-upload" >
									<form action="{% url "post_comment" %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{ post.id }}">
										<textarea placeholder="Post a comment!" name="comment_text"></textarea>
										<button type="submit" class="btn btn-success green"></i>Post</button>
									</form>
								</div>
							</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}


{% endblock %}






